<%- include('partials/header', { title: 'Dashboard Cliente - Self-Order' }) %>
<div class="container mt-5">
    <h2>Bem-vindo, Cliente!</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <a href="/fazer_pedido" class="btn btn-primary btn-block">Fazer Pedido</a>
        </div>
        <div class="col-md-6">
            <a href="/acompanhar_pedidos" class="btn btn-secondary btn-block">Acompanhar Pedidos</a>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
