<%- include('partials/header', { title: 'Self-Order' }) %>
<div class="row">
    <div class="col-md-6">
        <h2>Entrar como Cliente</h2>
        <p>Experimente a conveniência de fazer pedidos diretamente do seu celular.</p>
        <a href="/cadastro_cliente" class="btn btn-primary">Entrar como Cliente</a>
    </div>
    <div class="col-md-6">
        <h2>Entrar como Funcionário</h2>
        <p>Gerencie os pedidos e mantenha o controle do seu estabelecimento.</p>
        <a href="/login_funcionario" class="btn btn-secondary">Entrar como Funcionário</a>
    </div>
</div>
<%- include('partials/footer') %>
