body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #main-footer {
    text-align: center;
    padding: 1rem;
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .container {
    flex: 1;
  }
  
  .mt-auto {
    margin-top: auto;
  }
  